.btn_custom {
  display: inline-block;
  border-radius: 30.5px;
  width: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: $bold;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out,
    background-color .2s ease-in-out,
    border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out,
    background-color .2s ease-in-out,
    border-color .2s ease-in-out;
  transition: color .2s ease-in-out,
    background-color .2s ease-in-out,
    border-color .2s ease-in-out;
  cursor: pointer;
  font-family: $Poppins;

}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 12px;
}

.btn--medium {
  padding: 10px 55px;
  min-width: 85px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 55px;
  min-width: 105px;
  font-size: 16px;
}

.btn--filled {
  color: $text;
  background-color: $alocity;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  &.btn--filled--upper {
    text-transform: uppercase;
  }

  &:hover {
    text-decoration: none;
    background-color: $white;
    color: $alocity;
    transition: 0.3s ease-in-out;
    border: 1px solid $alocity;
  }
}

.btn--filled--white {
  color: $text;
  background-color: $white;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background-color: $alocity;
    color: $text;
    transition: 0.3s ease-in-out;
    border: 1px solid $white;
  }
}

.btn--filled--yellow {
  color: $text;
  // background-image: linear-gradient(245deg, #f5ac1b 75%, #fcc862 28%);
  background-color: #f5ac1b;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    // background-image: linear-gradient(245deg, #fff 75%, #fff 28%);
    background-color: $white;
    color: $text;
    transition: 0.3s ease-in-out;
    border: 1px solid #f5ac1b;
  }
}