.main-banner__content {
  .slick-prev {
    z-index: 2;
    top: 60%;
    left: 0%;
    background: $alocity;
    width: 45px;
    height: 50px;

    &:before {
      font-size: $arrow-size;
      color: $white;
      content: "\f053";
      font-family: 'FontAwesome';
      z-index: 3;
    }

    &:hover {
      outline: none;
      background: $alocity;
      color: $white;
    }
  }

  .slick-next {
    right: 0%;
    z-index: 2;
    top: 60%;
    background: $alocity;
    width: 45px;
    height: 50px;

    &:before {
      font-size: $arrow-size;
      color: $white;
      content: "\f054";
      font-family: 'FontAwesome';
    }

    &:hover {
      outline: none;
      background: $alocity;
      color: $white;
    }
  }
}



.main-testimonials__content {
  .slick-dots {
    z-index: 2;
    display: flex;
    position: absolute;
    bottom: -15%;
    right: 51%;
    width: 0%;

    @include respond-to(md) {
      left: 40%;
    }

    @include respond-to(sm) {
      left: 49%;
    }

    @include respond-to(xs) {
      left: 45%;
      bottom: -8%;
    }

    .slick-active {
      button {
        &:before {
          color: $dots-color-active;
          opacity: 0.75;
          margin: 0;
          height: $dots-size;
          width: $dots-size;

        }
      }
    }

    li {
      margin: 0;

      button {

        &:before {
          color: $dots-color;
          content: '';
          height: $dots-size;
          width: $dots-size;
          display: inline-block;
          background: $orange;
          border-radius: 6px;
          cursor: pointer;
          transition: all 300ms ease;
        }

        &:hover:before,
        &:focus:before {
          color: $dots-color-active;
        }
      }
    }
  }
}