!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Alocity 
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
  %body
    .main-banner
      .main-banner__content
        .main-banner__item
          .mask
            .main-banner__text
              .main-banner__title
                %h1 Simply Smart Segurity
                %span Cloud Access Control Software
                %p Manage Alocity anytime, from anywhere
            
          .main-banner__img
            %img{ :src => "assets/img/image-banner.png"}/
        .main-banner__item
          .mask
            .main-banner__text
              .main-banner__title
                %h1 Simply Smart Segurity
                %span Cloud Access Control Software
                %p Manage Alocity anytime, from anywhere
          .main-banner__img
            %img{ :src => "assets/img/image-banner.png"}/
    %section.main-users
      .container
        .main-title__general
          %h2 built for today´s moderb users
        .row.main-content
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg.active
                  .main-users__img
                    %img{ :src => "assets/img/tap.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p Easy To Implement
                  .main-general__description
                    %p No software to install or maintain, Setup is done in minutes.
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg
                  .main-users__img
                    %img{ :src => "assets/img/expand.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p Scalable
                  .main-general__description
                    %p Manage one or hundreds of sites and doors.
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg
                  .main-users__img
                    %img{ :src => "assets/img/padlock.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p Vaul like Security
                  .main-general__description
                    %p Desinged with the most advanced cloud security encrytion strategies.
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg
                  .main-users__img
                    %img{ :src => "assets/img/clock.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p See Everything in Real Time
                  .main-general__description
                    %p Get instant visibility on users activity, door states, and critical events.
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg
                  .main-users__img
                    %img{ :src => "assets/img/turn-off.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p Powerful Reporting
                  .main-general__description
                    %p Easilly gather real-time events data from yours system with a single click.
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg
                  .main-users__img
                    %img{ :src => "assets/img/intersection.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p Integrations
                  .main-general__description
                    %p Buelt-in integrations with G-Suite, Microsoft. Okta, Slack and more.
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg
                  .main-users__img
                    %img{ :src => "assets/img/icon.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p Automation
                  .main-general__description
                    %p Set event-based automation rules.
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg
                  .main-users__img
                    %img{ :src => "assets/img/key-2.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p Intuitive Access Schedule
                  .main-general__description
                    %p Easilly add schedules based on who, is allowed where, and when.
          .col-lg-4.col-sm-6
            .main-users__content
              .main-users__item
                .main-users__boximg
                  .main-users__img
                    %img{ :src => "assets/img/network.png"}/
              .main-users__item
                .main-users__boxtext
                  .main-users__title
                    %p Access Groups
                  .main-general__description
                    %p Easilly set access levels for users by groups.
    .main-dashboard
      .container
        .row.main-dashboard__content
          .col-lg-4.col-md-4.col-sm-4.col-12.p-0
            .main-dashboard__cards
              .main-dashboard__boximg
                .main-dashboard__img
                  %img{ :src => "assets/img/image_6.png"}/
                  %img.img__two{ :src => "assets/img/plus.png"}/
                .main-dashboard__img--two
                  %img{ :src => "assets/img/image.png"}/
              .main-dashboard__text
                .main-dashboard__title
                  %p User Management
                .main-general__description
                  %p Easily add users with access levels and sync their biometric, mobile, card, and pin credentials instantly to the door readers.

          .col-lg-4.col-md-4.col-sm-4.col-12.p-0
            .main-dashboard__cards.active
              .main-dashboard__boximg
                .main-dashboard__img
                  %img{ :src => "assets/img/image_3.png"}/
                  %img.img__two{ :src => "assets/img/plus.png"}/
                .main-dashboard__img--two
                  %img{ :src => "assets/img/image.png"}/
              .main-dashboard__text
                .main-dashboard__title
                  %p Real Time Dashboard
                .main-general__description
                  %p Our modern dashboard gives you instant visibility on user activity, door states, and critical events.
          .col-lg-4.col-md-4.col-sm-4.col-12.p-0
            .main-dashboard__cards
              .main-dashboard__boximg
                .main-dashboard__img
                  %img{ :src => "assets/img/image_8.png"}/
                  %img.img__two{ :src => "assets/img/plus.png"}/
                .main-dashboard__img--two
                  %img{ :src => "assets/img/image.png"}/
              .main-dashboard__text
                .main-dashboard__title
                  %p Cloud Reader Management
                .main-general__description
                  %p Configure and manage alocity smart door readers instantly from the cloud.
    .main-control
      .row
        .col-lg-6.col-12.p-0
          .main-control__img
            %img{ :src => "assets/img/image_4.png"}/
        .col-lg-6.col-12.p-0
          .main-control__box
            .main-title__general.main-title__general--left
              %h2 Total control from anywhere
            .row.main-content
              .col-lg-6.col-sm-6
                .main-control__subbox
                  .main-control__text
                    .main-control__icon
                      %img{ :src => "assets/img/calendar-2.png"}/
                    .main-users__title
                      %p Easily Schedule Users
                  .main-general__description
                    %p Create schedules for complete door control of who can enter, at what time, and on which door.
              .col-lg-6.col-sm-6
                .main-control__subbox
                  .main-control__text
                    .main-control__icon
                      %img{ :src => "assets/img/notification.png"}/
                    .main-users__title
                      %p Instant Alerts
                  .main-general__description
                    %p Create schedules for complete door control of who can enter, at what time, and on which door.
              .col-lg-6.col-sm-6
                .main-control__subbox
                  .main-control__text
                    .main-control__icon
                      %img{ :src => "assets/img/user-3.png"}/
                    .main-users__title
                      %p Manage User Credentials
                  .main-general__description
                    %p Instantly assign/revoke user credentials. (biometric, mobile, cloud-keys, pin or card)
              .col-lg-6.col-sm-6
                .main-control__subbox
                  .main-control__text
                    .main-control__icon
                      %img{ :src => "assets/img/exit.png"}/
                    .main-users__title
                      %p Door Control
                  .main-general__description
                    %p Total control to unlock or lockdown doors from anywhere, and see door states in real-time.
    .main-check
      .container
        .row
          .col-lg-5.col-sm-12
            .main-check__content
              .main-title__general.main-title__general--width
                %h2 Integrated with the tools you use
              .main-general__description.main-general__description--color
                %p Alocity® is fully integrated with your favorite apps, so you can spend less time juggling tabs and more time focusing on meaningful work.
              .main-check__btn
                %a.btn_custom.btn--small.btn--filled{ :href => ''} Check out the integrations
          .col-lg-7.col-sm-12.p-0
            .main-check__box
              .main-control__img.main-control__img--two
                %img{ :src => "assets/img/image_10@3x.png"}/
              .main-check__boxlarge
                .main-check__boxmedium
                  .main-check__boxsmall
                    .main-check__img
                      %img{ :src => "assets/img/bitmap_3.png"}/
                  .main-check__boxsmall
                    .main-check__img
                      %img{ :src => "assets/img/search-1.png"}/
                  .main-check__boxsmall
                    .main-check__img
                      %img{ :src => "assets/img/bitmap_2.png"}/
                  .main-check__boxsmall
                    .main-check__img
                      %img{ :src => "assets/img/slack.png"}/
                  .main-check__boxsmall
                    .main-check__img
                      %img{ :src => "assets/img/bitmap.png"}/
                  .main-check__boxsmall
                    .main-check__img
                      %p nest
                    -# %img{ :src => "assets/img/image_10.png"}/

              
    -# .main-client
    -#   .container
    -#     .main-title__general.main-title__general--flex
    -#       %h2 Some of Our Customers
    -#       %h3 You’re in good hands   
    -#     .main-client__content
    -#       .main-client__item
    -#         .main-client__img
    -#           %img{ :src => "assets/img/10.png"}/
    -#       .main-client__item
    -#         .main-client__img
    -#           %img{ :src => "assets/img/8.png"}/
    -#       .main-client__item
    -#         .main-client__img
    -#           %img{ :src => "assets/img/2.png"}/
    -#       .main-client__item
    -#         .main-client__img
    -#           %img{ :src => "assets/img/7.png"}/
    -#       .main-client__item
    -#         .main-client__img
    -#           %img{ :src => "assets/img/3.png"}/


    // .main-infomation
    //   .container
    //     .row
    //       .col-lg-6.col-xs-12.col-sm-6
    //         .main-infomation__img
    //           %img{ :src => "assets/img/phone.png"}/
    //       .col-lg-6.col-xs-12.col-sm-6
    //         .main-information__content
    //           .main-information__title
    //             %p Need more information?
    //           .main-information__description
    //             %p Let one of our specialist show you around
    //           .main-information__btn
    //             %a.btn_custom.btn--medium.btn--filled--white{ :href => ''} get quote
    //           .main-information__description
    //             %p Speak to us  888-512-2115

    
    / Button trigger modal
    %button.btn.btn-primary{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
      Home Popup
    / Modal
    #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body.modal-body--pg 
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %img{ :src => "assets/img/close.png"}/
            .row
              .col-lg-6.col-md-6.p-0.d-sm-flex.d-none
                .main-modal__boximg
                  .main-modal__img
                    %img{ :src => "assets/img/phone-modal.png"}/
              .col-lg-6.col-md-6.p-0
                .main-modal__form
                  .main-modal__title
                    %h2 Get In Touch
                  %form
                    .form-group
                      %input#formGroupExampleInput.form-control{:placeholder => "First Name*", :type => "text"}/
                    .form-group
                      %input#formGroupExampleInput.form-control{:placeholder => "Last Name*", :type => "text"}
                    .form-group
                      %input#formGroupExampleInput.form-control{:placeholder => "Company", :type => "text"}
                    .form-group
                      %input#formGroupExampleInput2.form-control{:placeholder => "Email*", :type => "text"}/
                    .form-group
                      %input#formGroupExampleInput2.form-control{:placeholder => "Phone*", :type => "phone"}/
                    .form-group
                      %input#formGroupExampleInput2.form-control{:placeholder => "Country*", :type => "text"}/
                    .form-group
                      %textarea{:placeholder => "Comments",:rows => "8"}
                    .main-check__btn
                      %a.btn_custom.btn--large.btn--filled--yellow{ :href => ''} send message
    / Button trigger modal
    %button.btn.btn-primary{"data-target" => "#one-modal", "data-toggle" => "modal", :type => "button"}
      Software popup 1
    / Modal
    #one-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-soft{:role => "document"}
        .modal-content.modal-content--soft 
          .modal-body.modal-body--pg 
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %img{ :src => "assets/img/close.png"}/
            .main-modal__boxerimg
              .main-modal__img.main-modal__softwareimg
                %img{ :src => "assets/img/image-1.png"}/
    / Button trigger modal
    %button.btn.btn-primary{"data-target" => "#two-modal", "data-toggle" => "modal", :type => "button"}
      Software popup 2
    / Modal
    #two-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-soft{:role => "document"}
        .modal-content.modal-content--soft 
          .modal-body.modal-body--pg 
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %img{ :src => "assets/img/close.png"}/
            .main-modal__boxerimg
              .main-modal__img.main-modal__softwareimg
                %img{ :src => "assets/img/image-2.png"}/
    / Button trigger modal
    %button.btn.btn-primary{"data-target" => "#three-modal", "data-toggle" => "modal", :type => "button"}
      Software popup 3
    / Modal
    #three-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-soft{:role => "document"}
        .modal-content.modal-content--soft 
          .modal-body.modal-body--pg 
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %img{ :src => "assets/img/close.png"}/
            .main-modal__boxerimg
              .main-modal__img.main-modal__softwareimg
                %img{ :src => "assets/img/image-3.png"}/



      
    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "assets/js/main.js"}
